@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.slider-height {
    height: 89vh !important;
}

.header-one {
    font-family: 'Itim', cursive;
    font-size: 38px;
    color: #FF8000;
}

.header-two{
    font-family: 'Itim', cursive;
    font-size: 68px;
}

.centered {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
